body {
  margin: 0;
  padding: 0;
}

.contenedorPrincipal {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: rgb(34, 34, 34);
  align-items: center;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  min-height:100vh;
}

.pantallaPuntos {
  color: rgb(255, 255, 255);
  background-color: rgb(24, 24, 24);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;

}

.black,
.truko {
  font-family: "Asimovian", sans-serif;
  font-size: 30px;
  font-style: normal;


  background: linear-gradient(to bottom,
      #ffffff,
      #aaaaaa,
      #555555);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aCuanto {
  font-size: 40px;
  background-color: rgb(56, 56, 56);
  color: white;
  border-radius: 20%;
  margin: 5px;
}

.cajaJuego {
  display: flex;
  flex: 90;
  width: 100%;
}

/*NOSOTROS Y ELLOS*/
.nosotros {
  background-color: rgb(34, 34, 34);
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px dashed white;
  border-top: 4px dashed white;
}

.ellos {
  background-color: rgb(34, 34, 34);
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-left: 2px dashed white;
  border-top: 4px dashed white;
}

.nosotrosText,
.ellosText {
  color: white;
  margin-top: 10px;
  font-family: "Asimovian", sans-serif;
  font-size: 30px;
  font-style: normal;
  margin: 0;
}

/*BOTONES*/
.botonesPuntos {
  display: flex;
  flex-direction: row-reverse;

}

.botonSumar, .botonRestar {

  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgb(163, 163, 163);

  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease,
    background-color 0.2s ease;
}



.fosforo1 {
  /*background-color: rgb(41, 206, 0);*/
  width: 15px;
  position: absolute;
  left: 35px;
  top: -20px;
}

.fosforo2 {
  /* background-color: rgb(255, 238, 0);*/
  width: 15px;
  transform: rotate(90deg);
  position: absolute;
  top: -82px;
  left: 93px;
}

.fosforo3 {
  /* background-color: rgb(0, 136, 255);*/
  width: 15px;
  transform: rotate(180deg);
  position: absolute;
  left: 150px;
  top: -20px;
}

.fosforo4 {
  /* background-color: rgb(204, 0, 255);*/
  width: 15px;
  transform: rotate(270deg);
  position: absolute;
  left: 93px;
  top: 42px;
}



.fosforo5 {
  /* background-color: rgb(255, 0, 0);*/
  width: 15px;
  transform: rotate(45deg);
  position: absolute;
  left: 95px;
  top: -20px;
}

.fosforosNosotros,
.fosforosEllos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.grupo,
.grupo2 {
  position: relative;
  margin-top: 50px;
  height: 110px;
  width: 200px;
}


.sonMalas{
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin: 0px;
}

.divNemb{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}