* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.contenedorPrincipal {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: rgb(34, 34, 34);
  align-items: center;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

.pantallaPuntos {
  color: rgb(255, 255, 255);
  background-color: rgb(24, 24, 24);

  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;

}

.black,
.truko {
  font-family: "Asimovian", sans-serif;
  font-size: 30px;
  font-style: normal;


  background: linear-gradient(to bottom,
      #ffffff,
      #aaaaaa,
      #555555);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aCuanto {
  font-size: 50px;
}

.cajaJuego {
  display: flex;
  flex: 90;
  width: 100%;
}

/*NOSOTROS Y ELLOS*/
.nosotros {
  background-color: rgb(34, 34, 34);
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px dashed white;
  border-top: 4px dashed white;
}

.ellos {
  background-color: rgb(34, 34, 34);
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-left: 2px dashed white;
  border-top: 4px dashed white;
}

.nosotros p,
.ellos p {
  font-size: 30px;
  color: white;
  margin: 15px;
  font-family: "Asimovian", sans-serif;
  font-size: 25px;
  font-style: normal;
}

/*BOTONES*/
.botonesPuntos {
  display: flex;
  flex-direction: row-reverse;

}

.botonSumar, .botonRestar {

  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    transform 0.1s ease,
    box-shadow 0.1s ease,
    background-color 0.2s ease;

}



.fosforosNosotros {
  background-color: rgba(22, 39, 39, 0);
  width: 100%;
  height: 100%;
}

.fosforosEllos {
  background-color: rgba(18, 119, 119, 0);
    width: 100%;
  height: 100%;
}

.fosforo1 {
  /*background-color: rgb(41, 206, 0);*/
  width: 15px;
  position: absolute;
  left: 40px;
}

.fosforo2 {
  /* background-color: rgb(255, 238, 0);*/
  width: 15px;
  transform: rotate(90deg);
  position: absolute;
  top: -60px;
  left: 100px;
}

.fosforo3 {
  /* background-color: rgb(0, 136, 255);*/
  width: 15px;
  transform: rotate(180deg);
  position: absolute;
  left: 160px;
}

.fosforo4 {
  /* background-color: rgb(204, 0, 255);*/
  width: 15px;
  transform: rotate(270deg);
  position: absolute;
  left: 100px;
  top: 60px;
}

.fosforo5 {
  /* background-color: rgb(255, 0, 0);*/
  width: 15px;
  transform: rotate(45deg);
  position: absolute;
  left: 100px;
}

.grupo {
  position: relative;
  margin-top: 30px;
  margin-bottom: 100px;
  height: 100px;
}


.grupo2 {
  position: relative;
  margin-top: 30px;
  margin-bottom: 100px;
  height: 100px;
}

