.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(61, 61, 61, 0.63);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  font-family: "Asimovian", sans-serif;
  font-size: 30px;
  font-style: normal;
  color: white;
border: 2px solid #8a8a8a;
}

.cerrar {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 40px;
  background: black;
  border: 2px solid #ffffff;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

select {
  padding: 8px 10px;
  font-size: 18px;
  border-radius: 15px;
  border: 2px solid #ffffff;
  font-weight: bold;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all 0.3s ease;
  outline: none;
}

.modal-content h2{
  margin: 0;
}

.divPuntajes, .divCerrar{
  margin: 5px;
}